body {
    font-family: Arial, sans-serif;
    background-color: #7eceff;
    text-align: center;
    padding: 20px;
}

h1 {
    color: #000000;
}

.buttons {
    margin-bottom: 20px;
}

button {
    padding: 8px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}

button:hover {
    background-color: #0056b3;
}

#livros-cadastrados {
    font-weight: bold;
    color: #000000;
    margin: 10px 0;
}

.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    overflow: hidden;
    margin-top: 20px;
}

.carousel img {
    max-width: 100%;
    height: auto;
    margin: 0 10px;
}
